<%= form_with model: @user do |form| %>
  <div>
    <%@user.errors.full_messages.each do |error| %>
      <li><%=error %></li>
    <%end%>
  </div>
  <%= form.label :username , 'Usernmae' %>
  <%= form.text_field :username%>
  <%= form.label :email, 'email' %>
  <%= form.text_field :email %>
  <%= form.label :password, 'Password' %>
  <%= form.password_field :password%>
  <%= form.submit "submit" %>
<% end  %>